#text1{
    position: relative;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    
  background-color: rgba(67, 66, 60, 0.758);
  padding: 2em;
}

.bg-image{
    background-image: url("imgs/chicken-7249271_1920.jpg");
    background-size: cover;
}

footer.text-center.text-lg-start.bg-body-gray-300.fw-bold.mt-3
{
  background-color:rgb(61,29,22);
}

.row.row-cols-3.col{
  height: 350px;
  border-radius: 54px;
background: #e5b8b8;
box-shadow:  7px 7px 17px #bc9797,
             -7px -7px 17px #ffd9d9;
}

#menuControl{
  max-width: 500px;
padding: 25px;
border: 1px solid rgb(0, 0, 0,0.3);
border-radius: 20px;
}